<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO6JeWEaBCzRQuFZK64ydZpecIOPal5Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>7761798024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afghandeals.afghanDealsPro</string>
	<key>PROJECT_ID</key>
	<string>afghan-deals-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>afghan-deals-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7761798024:ios:37c9ef7a384422bbf3503d</string>
</dict>
</plist>